.IShop
{
 max-width: 100%;
 width: 1000px;
 padding: 0;
 margin: 0 auto;
 color: #1b1b1b;
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
 line-height: 20px;
}

h1{
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 34px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.IShop .header, .IShop .products{
  width: 100%;
  border: 1px solid #2b97da;
}
.IShop .products{
  border-top: none;
}
.IShop .blue{
  background: #e5f5ff;
}
.IShop .green{
  background: #3af95d52;
}
.IShop .header{
  border-bottom: none;
}

.IShop .header,
.IShop .product{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  

}
.IShop .header{
  background: #e3f2fc;
}
.IShop .header_title{
  width: 20%;
  padding: 16px;
  font-size: 18px;
  line-height: 24px;
  border: 1px solid #2b97da;
  text-align: center;
  font-weight: 600;
}
.IShop .product_item, .IShop .price,
.IShop .image, .IShop .count, .IShop .button{
  width: 20%;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #2b97da;
  min-height: 60px;
  text-align: center;

}
.IShop .image{
 /* padding: 8px;*/
  line-height: 1;
  text-align: center;
}

.IShop .button{
 display: flex;
 align-items: center;
 justify-content: center;
}
.IShop .button button{
  text-transform: uppercase;
  background: #db1f1f68;
  font-weight: 400;
  font-size: 14px;
  padding: 5px;
  padding-top: 6px;
  border-radius: 3px;
}
.IShop .product_item{
  text-align: left;
}
.IShop img{
 max-width:100%;
 border-radius: 3px;
 width: 100px;
 height: auto;

}.IShop
{
 max-width: 100%;
 width: 1000px;
 padding: 0;
 margin: 0 auto;
 color: #1b1b1b;
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
 line-height: 20px;
}

h1{
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 34px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.IShop .header, .IShop .products{
  width: 100%;
  border: 1px solid #2b97da;
}
.IShop .products{
  border-top: none;
}
.IShop .blue{
  background: #e5f5ff;
}
.IShop .green{
  background: #3af95d52;
}
.IShop .header{
  border-bottom: none;
}

.IShop .header,
.IShop .product{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  

}
.IShop .header{
  background: #e3f2fc;
}
.IShop .header_title{
  width: 20%;
  padding: 16px;
  font-size: 18px;
  line-height: 24px;
  border: 1px solid #2b97da;
  text-align: center;
  font-weight: 600;
}
.IShop .product_item, .IShop .price,
.IShop .image, .IShop .count, .IShop .button{
  width: 20%;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #2b97da;
  min-height: 60px;
  text-align: center;

}
.IShop .image{
 /* padding: 8px;*/
  line-height: 1;
  text-align: center;
}

.IShop .button{
 display: flex;
 align-items: center;
 justify-content: space-around;
 flex-direction: column;
}
.IShop .button button{
  text-transform: uppercase;
  background: #db1f1f68;
  font-weight: 400;
  font-size: 14px;
  padding: 5px;
  padding-top: 6px;
  border-radius: 3px;
}
.IShop .product_item{
  text-align: left;
}
.IShop img{
 max-width:100%;
 border-radius: 3px;
 width: 100px;
 height: auto;

}h3{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
}
.infoCard{
    display: none;
}
.infoCard.visible{
    display: block;
}h3{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
}
.edit{
    display: none;
}
.edit.visible{
    display: block;
}
/*# sourceMappingURL=bundle.css.map*/