h3{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
}
.infoCard{
  display: none;
}
.visible .infoCard{
    display: block;
}
.visible.infoCard{
    display: block;
}